{% extends 'base/base.html' %}


{% block content %}
    <h2>Название трансляции: {{ object.name }}</h2>
    <h2>Входной URL: {{ server_url }}/{{ object.key }}</h2>
    <a href="{% url 'update_input_key' object.id %}">Изменить трансляцию</a>
    <form action="{% url 'stream_start' object.id %}" method="POST">
        {% csrf_token %}
        <button type="submit"><i class="bi bi-power"></i>{% if is_online %}Остановить{% else %}Запустить{% endif %}</button>
    </form>
    <a href="{% url 'stream_create' object.id %}">Создать новый исходящий поток</a>
    <table>
    <tr><td>URL</td><td>Key</td><td>Изменить</td><td>Удалить</td></tr>
    {% for output in outputs %}
    <tr>
        <td>{{ output.url }}</td>
        <td>{{ output.key }}</td>
        <td><a href="{% url 'stream_update' object.id output.id %}">Изменить</a></td>
        <td><a href="{% url 'stream_delete' object.id output.id %}">Удалить</a></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
