{% extends 'base/base.html' %}


{% block content %}
<div class="row px-5">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr class="text-center">
                    <th scope="col">ID <a href="{% url 'stream_create' %}"><i style="color: white; font-weight: bold" class="bi bi-plus-circle"></i></a></th>
                    <th scope="col">Название трансляции</th>
                </tr>
            </thead>
            <tbody>
            {% for el in object_list %}
            <tr class="text-center">
                <td><b>{{el.id}}</b></td>
                <td><a href="{% url 'stream_detail' el.id %}">{{el.name}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
