{% extends 'base/base.html' %}

{% load static %}

{% block extra_js %}
<script src="{% static 'js/list.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 mt-lg-5 mt-2">
        <div class="d-flex justify-content-between">
            <div>
                <a href="{% url 'create_input_key' %}" class="btn btn-outline-primary">Создать</a>
            </div>
            <div>
                <a type="button" class="btn btn-secondary switcher active" id="listview"><i class="fa fa-bars"></i></a>
                <a type="button" class="btn btn-secondary switcher" id="gridview"><i class="fa fa-th-large"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <ul id="products" class="p-0 list">
            <!-- row 1 -->
            {% for el in object_list %}
            <a class="card-link" href="{% url 'stream_detail' el.id %}">
                <li class="clearfix card">
                    <section class="left">
                        <h3>{{el.name}}</h3>
                        <span class="meta">Возможно тут будет ваш комментарий</span>
                    </section>

                    <section class="row w-100">
                        <div class="col-auto mt-md-0 mt-4 col-md-6">
                            <a class="w-100 btn btn-outline-primary">
                                Изменить
                            </a>
                        </div>
                        <div class="col-auto mt-md-0 mt-4 col-md-6">
                            <a class="w-100 btn btn-outline-danger">
                                Удалить
                            </a>
                        </div>
                    </section>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr class="text-center">
                <th scope="col">ID <a href="{% url 'create_input_key' %}">(Создать)</a></th>
                <th scope="col">Название трансляции</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for el in object_list %}
            <tr class="text-center">
                <td><b>{{el.id}}</b></td>
                <td><a href="{% url 'stream_detail' el.id %}">{{el.name}}</a></td>
                <td><a href="{% url 'update_input_key' el.id %}">Изменить трансляцию</a>
                    <a href="{% url 'delete_input_key' el.id %}">Удалить</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
