# Engine
Django==3.1.6
Pillow==8.1.0
django-bootstrap4==2.3.1
django-registration==3.1.1
django-allauth
apiclient
google_auth_oauthlib
google-api-python-client

# Documentation
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1

# Codestyle
pylint==2.7.4
pylint-django==2.4.3
unify==0.5

# Debug
django-debug-toolbar==3.2.1
