html,
body {
    height: 100%;
    background: #E9EDF0;
}

.wrapper {
    min-height: 100%;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.wrapper-content {
    position: relative;
    height: 100%;
    min-height: 100vh;
    width: calc(100% - 60px);
    left: 60px;
    top: 0;
}


.wrapper-sidebar .sidebar__footer,
.wrapper-sidebar .sidebar__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.wrapper-sidebar {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    --sidebar-width:60px;
    width: var(--sidebar-width);
    position: absolute !important;
    z-index: 101;
    height: 100%;
    background-color: #E9EDF0;
    box-shadow:  0px 3.5px 14px #D3DBE6;

}

.sidebar--open{
    --sidebar-width: 280px;
}

.sidebar{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.sidebar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 25px 0;
    min-height: 80px;
}
.logo{
    weight:100%;
}
.big-logo{
    weight:100%;
    display: none;
}

.sidebar--open .logo:not(.big-logo){
    display: none;
}

.sidebar--open .big-logo{
    display: block;
}

.sidebar-content{
    overflow-x: hidden;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    overflow-x: hidden;
    width: 100%;
}

.sidebar__item {
    width: 100%;
    padding: 15px 16px 0;
    text-align: left;
    background: transparent;
    font-size: 1rem;
    font-weight: 700;
    opacity: .7;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative;
    color: rgba(var(--text), .7);
    border: 0;
}
.sidebar__item.disabled{
    color: rgba(var(--text), .2);
}

.sidebar__item:hover{
    color: rgba(var(--text), .9);
}

.sidebar__item.active:after {
    content: "";
    position: absolute;
    left: 4px;
    top: auto;
    width: 10px;
    height: 80%;
    bottom: auto;
    background: var(--bs-blue);
    border-radius: 0 20px 20px 0;
    -webkit-transform: translate(-6px);
    transform: translate(-6px);
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    z-index: 60;
}
.sidebar__item.active {
    color: var(--bs-blue);
}

.sidebar__item__icon {
    min-width: 50px;
    height: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.2rem;
    z-index: 50;
}

.sidebar__item__text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 10;
    font-size: .9rem;
}
.sidebar__header-item{
    width: 100%;
    padding: 15px 0 14px;
    text-align: left;
    background: transparent;
    font-size: 1rem;
    font-weight: 700;
    opacity: .7;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative;
}
.sidebar--open .sidebar__header-item{
    padding: 15px 16px 14px;
    box-shadow: 0 4.5px 5px #D3DBE6;
    border-radius: 12px;
}

.avatar-content {
    --color: var(--gray-2);
    --badge: var(--primary);
    border-radius: 35%;
    z-index: 1;
    width: 44px;
    height: 44px;
    position: relative;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.avatar {
    background: rgba(var(--color), 1);
    color: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: rgba(var(--text), 1);
    border-radius: inherit;
    width: 100%;
    height: 100%;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    -webkit-box-shadow: inset 0 0 0 0 rgb(0 0 0 / 5%);
    box-shadow: inset 0 0 0 0 rgb(0 0 0 / 5%);
}

.avatar img {
    display: block;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    border-radius: inherit;
}

.sidebar__item:not(.active){
    padding-left: 10px;
}

.sidebar__header-item .block-names{
    width: 100%;
    padding-left: 20px;
    display: block;
    opacity: 1;
}
.block-names .nickname{
    font-weight: 700;
    display: block;
    font-size: medium
}
.block-names .username{
    display: block;
    font-size: small;
}
.sidebar__header-item i{
    display: block;
    opacity: 1;
}

.wrapper-sidebar:not(.sidebar--open) .block-names,.wrapper-sidebar:not(.sidebar--open) .sidebar__header-item i{
    opacity: 0;
    display: none;
}

.sidebar__footer {
    padding: 10px 0;
    justify-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
