:root {
    --card-bg: 255, 255, 255;
    --bg-main: rgb(252, 252, 252);
    --color-hr: rgb(222, 226, 230);
    
    --text-main: #212529;
    --text-header: #343a40;
    --text-small: #33363ac5;
    --text-disabled: #808080c5;

    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: rgb(25, 91, 255);
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

:root {
    --theme-bg: #f4f7f8;
    --theme-color: #2c3e50;
    --theme-layout: #fff;
    --theme-bg2: #eef2f5;
    --theme-code: #3f3d56;
    --theme-code2: #363449;
}

:root {
    --shadow-inset-card-0: inset 10px 10px 20px #D3DBE6, inset -10px -10px 20px #FFFFFF, inset -1px -1px 1px rgba(255, 255, 255, 0.6), 20px 20px 40px #D3DBE600, -20px -10px 40px #FFFFFF00;
    --shadow-inset-card-1:  inset 10px 10px 20px #d3dbe600, inset -10px -10px 20px #ffffff00, inset -1px -1px 1px rgba(255, 255, 255, 0), 20px 20px 40px #D3DBE6, -20px -10px 40px #FFFFFF;
    --shadow-inset-stream-0: inset 10px 10px 20px #D3DBE6, inset -10px -10px 20px #FFFFFF, inset -1px -1px 1px rgba(255, 255, 255, 0.6), 20px 20px 40px #D3DBE600, -20px -10px 40px #FFFFFF00;
    --shadow-inset-stream-1: inset 10px 10px 20px #d3dbe600, inset -10px -10px 20px #ffffff00, inset -1px -1px 1px rgba(255, 255, 255, 0), 20px 20px 40px #D3DBE6, -20px -10px 40px #FFFFFF;
}

:root {
    --primary: 25, 91, 255;
    --warn: 255, 186, 0;
    --danger: 255, 71, 87;
    --success: 70, 201, 58;
    --dark: 30, 30, 30;
    --light: 244, 247, 248;
    --color: 17, 18, 20;
    --background: 255, 255, 255;
    --text: 30, 29, 48;
    --gray-1: 249, 252, 253;
    --gray-2: 244, 247, 248;
    --gray-3: 240, 243, 244;
    --gray-4: 230, 233, 234;
}

.theme-dark {
    --shadow-inset-card-0:  inset 10px 10px 20px #13141b, inset -10px -10px 20px #1E2029, inset -1px -1px 1px #08080B, 20px 20px 40px #16181F00, -20px -10px 40px #16181F00;
    --shadow-inset-card-1:  inset 10px 10px 20px #191A2200, inset -10px -10px 20px #1E202900, inset -1px -1px 1px #08080B00, 20px 20px 40px #12141b, -20px -10px 40px #131621;
    --shadow-inset-stream-0: inset 10px 10px 20px #13141b, inset -10px -10px 20px #1E2029, inset -1px -1px 1px #08080B, 20px 20px 40px #16181F00, -20px -10px 40px #16181F00;
    --shadow-inset-stream-1:  inset 10px 10px 20px #191A2200, inset -10px -10px 20px #1E202900, inset -1px -1px 1px #08080B00, 20px 20px 40px #12141b, -20px -10px 40px #131621;

    --color-hr: rgb(41, 43, 63);
    --card-bg: 27, 30, 43;
    --bg-main: #20222C;

    --text: 230, 235, 232;
    --text-main: #e2e6ebe8;
    --text-header: #f7f7f7;
    --text-small: #f0f0f0c5;
    --text-disabled: #808080c5;
}
