{% extends 'base/empty.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <main class="page">
        <div class="page__wrapper">
            <div class="page__screen screen">
                <div class="screen__content">
                    <div style="width: 100%;height: 100%;position: absolute;top: 0;left: 0;">
                        <img style="    top: 0;
                            right: 0;
                            position: absolute;" src="{% static 'images/landing/bg/Group 91 (1).png' %}" alt="">
                        <img style="    position: absolute;
                            top: 60%;" src="{% static 'images/landing/bg/Mosaics.png' %}" alt="">

                    </div>
                    <div class="container-fluid h-100">
                        <div class="row h-100">
                            <div class="col-12 h-100 text-center" style="display: flex;align-items: center;">
                                <div class="w-100 p-5">
                                    <h1 class="mb-4 display-1">
                                        MultiStreamer </h1>
                                    <p class="mt-4 blockquote">С нами вести трансляци на нескольких платформах
                                        быстрее
                                        и
                                        удобние.</p>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <a class="btn btn-outline-primary w-100" href="{% url 'login' %}">
                                                Войти
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="{% url 'django_registration_register' %}" class="btn btn-primary w-100">Зарегистрироваться</button>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute arrow-down" style="bottom: 50px; left: 50%; ">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="page__screen screen">
                <div class="screen__content">
                    <div style="width: 100%;height: 100%;position: absolute;top: 0;left: 0;">
                        <img style="    top: 0;
                            right: 0;
                            position: absolute;" src="{% static 'images/landing/bg/Mosaics2.png' %}" alt="">
                        <img style="    position: absolute;
                            top: 60%;" src="{% static 'images/landing/bg/Group 92.png' %}" alt="">

                    </div>
                    <div class="container-fluid h-100">
                        <div class="h-100">
                            <h1 class="text-center display-2">Будьте везде и сразу</h1>
                            <p class="text-center blockquote">Увеличьте свою аудиторию с помощью одного потока на
                                несколько
                                платформ.
                            </p>
                            <div class="d-flex justify-content-center mt-5">
                                <img style="width: 100%;max-width: 1000px;" src="{% static 'images/landing/Group 85.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page__screen screen">
                <div class="screen__content">
                    <div class="container-fluid h-100">
                        <div class="row h-100 p-5">
                            <div class="col-6 p-5 align-self-center">
                                <img style="width: 100%;" src="{% static 'images/landing/Group 73.png' %}" alt="">
                            </div>
                            <div class="col-6 h-100 p-5 d-flex align-items-center justify-content-center">
                                <div>
                                    <h1 class="display-2">Как это работает?</h1>
                                    <ol class="pl-3 mt-5">
                                        <li class="blockquote">Добавьте 2+ социальных канала на панель управления
                                            MultiStream.
                                        </li>
                                        <li class="blockquote mt-3">Запустите поток с помощью программного обеспечения
                                            для
                                            потоковой
                                            передачи.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="page__screen screen">
                <div class="screen__content">
                    <h1 class="text-center display-2">Присоединяйся сейчас</h1>
                    <div class="container">
                        <div class="row mt-5">
                            <div class="col-8">
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                       placeholder="name@example.com">
                            </div>
                            <div class="col">
                                <button type="button" class="w-100 btn btn-primary">Присоединится</button>
                            </div>
                        </div>
                    </div>

                    <footer style="    position: absolute;
                        bottom: 0;
                        width: 100%;
                        background-color: #597EF7;
                        height: 80px;
                        left: 0;">

                    </footer>
                </div>
                <div class="screen__body">
                    <div class="screen__image">
                        <img src="{% static 'images/landing/Group 88 (1).png' %}"  alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="page__pagination">

        </div>
        <div class="page__scroll">
            <div class="page__drag-scroll">

            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/swiper.js' %}"></script>
<script src="{% static 'js/landing.js' %}"></script>

{% endblock %}
