{% extends 'base/base.html' %}


{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h1>Состояние сервера</h1>
            <hr>
            {% if server_online %}
                <h3>Сервер онлайн</h3>
            {% else %}
                <h3>Сервер оффлайн</h3>
            {% endif %}
            <form action="#" method="POST">
                {% csrf_token %}
                <input type="submit" value="{% if server_online %}Остановить{% else %}Запустить{% endif %}">

            </form>
        </div>
    </div>
</div>
{% endblock %}
