{% extends 'base/empty.html' %}
{% load static %}

{% load bootstrap4 %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="container-fluid pt-5">
    <div class="row justify-content-around">
        <div class="col-12 col-md-7 col-lg-3">
            <form class="validate-form" method="post">
                <p class="w-100 text-center m-0">
                    С возвращением на
                </p>
                <h1 class="text-center mt-2">MultiStream.io</h1>

                {% csrf_token %}

                {% bootstrap_form form %}
                <!--
                <div class="d-flex justify-content-between">
                    <div class="form-checkbox">
                        <input class="input" type="checkbox" name="remember-me"> Запомнить меня
                    </div>

                    <div>
                        <a href="#">
                            Забыли пароль?
                        </a>
                    </div>
                </div>
                -->
                <button class="btn btn-primary mt-2 w-100">
                    Войти
                </button>

                <p class="text-center mt-4">Новичок в MultiStream.io? <a
                    href="{% url 'django_registration_register' %}">Зарегистрироваться</a></p>
            </form>
        </div>
    </div>
</div>


{% endblock %}
