<!DOCTYPE html>
<html lang="ru">

{% load bootstrap4 %}
{% load static %}

<head>
  <meta charset="UTF-8">
  <title>{{ pagename }} - Multistreamer</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">


  {% block extra_css %}
  {% endblock %}
</head>


<body id="page-top">
{% bootstrap_messages %}
<div id="wrapper">

  {% include 'base/Sidebar.html' %}
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      {% include 'base/Header.html' %}

      <!-- Begin Page Content -->
      <div class="container-fluid">
        {% block content %} {% endblock %}
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    {% include 'base/Footer.html' %}


  </div>
  <!-- End of Content Wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Вы действительно хотите выйти?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Выберите "Выход" ниже, если вы готовы завершить текущий сеанс.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Выйти</a>
        </div>
      </div>
    </div>
  </div>

</div>


{% bootstrap_javascript jquery='full' %}
<script src="{% static 'js/sb-admin-2.js' %}"></script>

{% block extra_js %}
{% endblock %}
</body>


</html>
