<!DOCTYPE html>
<html lang="ru" class="dark-theme">

{% load bootstrap4 %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{ pagename }} - MultiStream</title>
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/multistreamer_boostrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

    <script src="{% static 'jquery.3.5.1.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    {% bootstrap_javascript%}
    {% block extra_css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>


<body>
{% bootstrap_messages %}


<div class="wrapper">
    <div class="wrapper-sidebar">
        {% include 'base/sidebar.html' %}
    </div>
    <div class="wrapper-content" onclick="close_sidebar()">
        <header class="container-fluid p-lg-5 p-5">
            {% block header %} {% endblock %}
        </header>
        <main class="container-fluid pl-lg-5 pr-lg-5 pl-5 pr-5">
            {% block content %} {% endblock %}
        </main>
    </div>
</div>

<script>
    function toggle_sidebar(){
        $('.wrapper-sidebar').toggleClass('sidebar--open')
    }
    function close_sidebar(){
        $('.wrapper-sidebar').removeClass('sidebar--open')
    }

</script>
{% block extra_js %}
{% endblock %}
</body>

</html>
