<!DOCTYPE html>
<html lang="ru">

{% load bootstrap4 %}

<head>
    <meta charset="UTF-8">
    <title>{{ pagename }} - Multistreamer</title>

    {% bootstrap_css %}
    <link href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {% block extra_css %}
    {% endblock %}
</head>


<body>
<div id="app">
    <header class="bg-light">
      {% bootstrap_messages %}
        {% block content %} {% endblock %}
        {% include 'base/menu.html' %}
    </header>

    <main role="main" class="list-page">
        {% bootstrap_messages %}
        {% block content %} {% endblock %}
    </main>

    <footer class="footer">
        {% block footer %}
        <div class="container text-center">
            <span class="text-muted">&copy; ШП, {% now "Y" %}</span>
        </div>
        {% endblock %}
    </footer>
</div>

{% bootstrap_javascript jquery='full' %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

{% block extra_js %}

{% endblock %}
</body>


</html>
